@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-dark: rgb(15, 15, 15);
}

@media (prefers-color-scheme: dark) {
}

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  background: var(--background-dark);
  overflow-x: hidden;
  padding: 40px;

  @media only screen and (max-width: 768px) {
    padding: 30px;
  }

  @media only screen and (max-width: 480px) {
    padding: 24px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .main-layout {
    display: grid;
    gap: 160px;
    min-height: 100vh;
    grid-template-rows: max-content 1fr max-content;

    @media only screen and (max-width: 768px) {
      gap: 80px;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 160px;

    @media only screen and (max-width: 768px) {
      gap: 80px;
    }
  }

  h1 {
    font-size: 72px;
    letter-spacing: -5px;
    line-height: 1.1;

    @media only screen and (max-width: 768px) {
      font-size: 64px;
    }
  }
  h2 {
    font-size: 48px;
    margin-bottom: 56px;
  }

  h3 {
    font-weight: 300;
    font-size: 24px;
  }

  h4 {
    font-size: 16px;
  }

  .work-grid {
    width: 100%;

    display: grid;
    flex: none;
    gap: 32px;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(2, minmax(1px, 1fr));
    grid-template-rows: repeat(1, min-content);

    @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(1, minmax(1px, 1fr));
    }
  }

  .work-item {
    cursor: pointer;
  }

  .work-btn {
    opacity: 0;
    transform: translateY(15%);
    transition: all 0.3s ease-in-out;
  }

  .work-item:hover .work-btn {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
