@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-dark: rgb(15, 15, 15);
}

@media (prefers-color-scheme: dark) {
}

body {
  color: white;
  background: var(--background-dark);
  padding: 40px;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .main-layout {
    display: grid;
    gap: 160px;
    min-height: 100vh;
    grid-template-rows: max-content 1fr max-content;
  }

  h1 {
    font-size: 72px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 16px;
  }
}
